<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>祥双基金</title>
</head>

<body>

<header  role="navigation" th:fragment="top">

    <div class="row border-bottom">
        <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                <form role="search" class="navbar-form-custom" action="search_results.html">

                </form>
            </div>
            <ul class="nav navbar-top-links navbar-right">
                <li>
                    <span class="m-r-sm text-muted welcome-message">欢迎来到祥双基金管理后台</span>
                </li>
                <li>
                    <a th:href="@{/logout}">
                        <i class="fa fa-sign-out"></i> 退出登录
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>
</body>
</html>
