<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="admin/layouts/header :: header(title='房屋租赁后台管理系统')"></head>
<body>

<div id="wrapper">
    <div th:replace="admin/layouts/left :: left">...</div>

    <div id="page-wrapper" class="gray-bg">

        <div th:replace="admin/layouts/top :: top">...</div>

        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2>我们的伙伴</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="/index">首页</a>
                    </li>
                    <li class="active">
                        <strong>添加</strong>
                    </li>
                </ol>
            </div>
            <div class="col-lg-2">

            </div>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-6" style="width: 100%">
                    <form role="form" class="form-horizontal" id="form" th:action="@{/partner/admin/edit}" th:object="${partner}" method="post">
                        <div id="container" class="form-group"><label class="col-sm-2 control-label" style="width: 60px;">封面</label>
                            <a id="pickfiles" href="javascript:;" class="btn btn-sm btn-primary m-l"><i class="fa fa-upload"></i> 上传图片</a>
                            <!--<a id="uploadfiles" href="javascript:;">上传</a>-->
                            <div id="filelist"></div>
                        </div>
                        <div class="form-group"><label class="col-sm-2 control-label" style="width: 60px;">标题</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" name="title" />
                            </div>
                        </div>
                        <div class="ibox float-e-margins">
                            <textarea id="textarea1" style="height:400px;" name="content"></textarea>
                            <!--这里引用jquery和wangEditor.js-->
                            <script type="text/javascript">
                                var editor = new wangEditor('textarea1');
                                // 上传图片
                                editor.config.uploadImgUrl = '/uploadImg';
                                editor.config.uploadImgFileName = 'myFileName';
                                editor.create();
                            </script>
                        </div>
                        <div>
                            <button class="btn btn-lg btn-primary m-t-n-xs" type="submit"><strong>提 交</strong></button>
                        </div>
                        <br/>
                    </form>
                </div>
            </div>
        </div>

        <div th:replace="admin/layouts/footer :: footer">...</div>

    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        var uploader = new plupload.Uploader({
            runtimes: 'html5,flash,silverlight,html4',
            browse_button: 'pickfiles', // you can pass an id...
            container: document.getElementById('container'), // ... or DOM Element itself
            url: '/upload',
            flash_swf_url: '/plugins/plupload/js/Moxie.swf',
            silverlight_xap_url: '/plugins/plupload/js/Moxie.xap',
            //在选择的flash中只能选择一个文件或图片
            multi_selection: false,
            filters: {
                max_file_size: '10mb',
                mime_types: [
                    {title: "Image files", extensions: "jpg,gif,png"},
                    //{title: "Zip files", extensions: "zip"}
                ]
            },

            init: {
                PostInit: function () {
//                    document.getElementById('filelist').innerHTML = '';
//                    document.getElementById('uploadfiles').onclick = function () {
//                        uploader.start();
//                        return false;
//                    };
                },
                QueueChanged:function () {
                    uploader.start();
                },
//                FilesAdded: function (up, files) {
//                    plupload.each(files, function (file) {
//                        document.getElementById('filelist').innerHTML += '<div id="' + file.id + '">' + file.name + ' (' + plupload.formatSize(file.size) + ') <b></b></div>';
//                    });
//                },

//                UploadProgress: function (up, file) {
//                    document.getElementById(file.id).getElementsByTagName('b')[0].innerHTML = '<span>' + file.percent + "%</span>";
//                },

                Error: function (up, err) {
                    document.getElementById('error').appendChild(document.createTextNode("\nError #" + err.code + ": " + err.message));
                },
                FileUploaded : function(up, file, info) {//文件上传完毕触发
                    var response = $.parseJSON(info.response);
                    if (response.status) {
                        $('#filelist').html( $('<img src="' + response.fileUrl + ' " width="220px;" height="150px;" /><input type="hidden" name="picurl" value="'+response.fileUrl+'"/>') );
                    }
                }
            }
        });
        uploader.init();
    });


</script>
<!-- 实例化编辑器 -->
<script type="text/javascript">
    //提交
//    function upload() {
//        $.ajax({
//            cache: true,
//            type: "POST",
////            dataType : "json",
//            url:"/upload",
////                data:$('#form').serialize(),// 你的formid
//            async: false,
//            success: function(data) {
//                alert("上传成功");
//            },
//            error: function(request) {
//                alert("上传失败");
//            }
//        });
//    }
    $(document).ready(function(){
        // 日期初始化
//        $('#datetimepicker').datetimepicker();
        $('#data_1').find('.input-group.date').datepicker({
            todayBtn: "linked",
            keyboardNavigation: false,
            forceParse: false,
            calendarWeeks: true,
            autoclose: true/*,
            format: 'yyyy-mm-dd hh:ii:ss'*/
        });
        // 验证
        // 验证
        $("#form").validate({
            rules: {
                evolvetime: {
                    required: true
                }
            }
        });
    });
</script>
<script type="text/javascript">
    $("#partner").toggleClass("active");
</script>
</body>

</html>
