<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="admin/layouts/header :: header(title='房屋租赁后台管理系统')"></head>
<link th:href="@{/admin/css/plugins/summernote/summernote.css}" rel="stylesheet"/>
<link th:href="@{/admin/css/plugins/summernote/summernote-bs3.css}"  rel="stylesheet"/>
<body>

    <div id="wrapper">
        <div th:replace="admin/layouts/left :: left">...</div>

        <div id="page-wrapper" class="gray-bg">

            <div th:replace="admin/layouts/top :: top">...</div>

            <!--<div class="row wrapper border-bottom white-bg page-heading">-->
                <!--<div class="col-lg-10">-->
                    <!--<h2>静态表</h2>-->
                    <!--<ol class="breadcrumb">-->
                        <!--<li>-->
                            <!--<a href="index.html">首页</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a>表格</a>-->
                        <!--</li>-->
                        <!--<li class="active">-->
                            <!--<strong>静态表</strong>-->
                        <!--</li>-->
                    <!--</ol>-->
                <!--</div>-->
                <!--<div class="col-lg-2">-->

                <!--</div>-->
            <!--</div>-->
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    <div class="col-lg-6" style="width: 100%">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>信息公开</h5>
                                <div class="ibox-tools">
                                    <a type="button" class="btn btn-primary" th:href="@{/infodisclosure/admin/edit}">添加</a>
                                </div>
                            </div>
                            <div class="ibox-content">

                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>序号</th>
                                        <th>标题</th>
                                       <!-- <th>内容</th>-->
                                        <th>年份</th>
                                        <th>类别</th>
                                        <th>状态</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="infodisclosure : ${pageInfo.list}">
                                        <td th:text="${infodisclosureStat.index+1}"></td>
                                        <td th:text="${infodisclosure.title}"></td>
                                       <!-- <td th:utext="${infodisclosure.content}"></td>-->
                                        <td th:text="${infodisclosure.year}"></td>
                                        <td><span th:remove="tag" th:each="dict : ${dicts}" th:text="${#strings.equals(dict.type,infodisclosure.type)} ? ${dict.name}"></span></td>
                                        <td th:switch="${infodisclosure.status}">
                                            <span th:case="0">禁用</span>
                                            <span th:case="1">正常</span>
                                        </td>
                                        <td>
                                            <a class="btn btn-info btn-sm" type="button" th:href="@{/infodisclosure/admin/edit(id=${infodisclosure.id})}"><i class="fa fa-edit"></i> 编辑</a>
                                            <a class="btn btn-warning btn-sm" type="button" th:id="${infodisclosure.id}" onclick="del(this)"><i class="fa fa-remove"></i> 删除</a>
                                            <span th:switch="${infodisclosure.status}">
                                                <span th:case="0">
                                                    <a class="btn btn-success btn-sm" type="button" th:id="${infodisclosure.id}" onclick="updateStatus(this,1)"><i class="fa fa-upload"></i>&nbsp;&nbsp;<span class="bold">推到首页</span></a>
                                                </span>
                                                <span th:case="1">
                                                    <a class="btn btn-success btn-sm" type="button" th:id="${infodisclosure.id}" onclick="updateStatus(this,0)"><i class="fa fa-upload"></i>&nbsp;&nbsp;<span class="bold">取消推荐</span></a>
                                                </span>
                                            </span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
                <div th:replace="common/paging :: paging">...</div>
            </div>
            <div th:replace="admin/layouts/footer :: footer">...</div>
        </div>
    </div>

    <script>
        // 审核
        function updateStatus(obj,status) {
            var id = $(obj).attr("id");
            layer.confirm('确定吗？', {
                btn: ['确定','取消'] //按钮
            }, function(){
                $.ajax({
                    type: "POST",
                    data: {id: id,status:status},
                    dataType: "json",
                    url: "/infodisclosure/admin/editStatus",
                    success: function (data) {
                        if (data.message === "SUCCESS") {
                            layer.msg('成功', {
                                time: 1000
                            },function () {
                                window.location.href = "";
                            });
                        } else {
                            layer.msg("系统异常");
                        }
                    },
                    error: function () {
                        layer.alert("系统异常，请稍后再试!");
                    }
                });
            });
        }
        // 删除
        function del(obj) {
            var id = $(obj).attr("id");
                layer.confirm('确定要删除吗？', {
                    btn: ['确定','取消'] //按钮
                }, function(){
                    $.ajax({
                        type: "POST",
                        data: {id: id},
                        dataType: "json",
                        url: "/infodisclosure/admin/del",
                        success: function (data) {
                            if (data.message === "SUCCESS") {
                                layer.msg('删除成功', {
                                    time: 1000
                                },function () {
                                    window.location.href = "";
                                });
                            } else {
                                layer.msg("系统异常");
                            }
                        },
                        error: function () {
                            layer.alert("系统异常，请稍后再试!");
                        }
                    });
                });
            }
    </script>
    <script type="text/javascript">
        $("#infodisclosure").toggleClass("active");
    </script>

</body>

</html>
